@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

Upload file below:
<InputFile OnChange="@OnInputFileChange" />
<SurveyPrompt Title="How is Blazor working for you?" />

@if (isUploading)
{
    <p>Loading videos...</p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var video in files)
            {
                <tr>
                    <td>@video.Name</td>
                    <td>@(video.Taille/baseUnit) MB</td>
                    <td>
                        <small>
                            upload on @video.UploadeOn.ToString("g")
                        </small>
                    </td>
                    <td><button class="btn btn-outline-info" @onclick="(()=>OnVideoSelected(video.Id))">Watch</button></td>
                </tr>
            }
        </tbody>
    </table>
}


@if (isLoading)
{
    <p>Please wait your video is coming</p>
}
else
{
    <p>ready</p>
}

<video id="videoPlayer" playsinline controls width="400" height="262">
    No video to watch...
</video>
<div class="video-controls hidden" id="video-controls">
</div>
